@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  background: #dfdfde;
  color: #121826;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background: #00748a;
  color: #ffffff;
}
